@charset "UTF-8";


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* aliceblue */
body {
    background-color: rgb(0, 1, 15);
}

header {
    height: 500px;
}

div#linkedin {
    border-radius: 100%;
    text-align: center;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    transition: 0.5s ease-out;
    font-size: 20px;
    color: #000;
    padding-top: 5px;
    background-color: aliceblue;
}

header > h1, p {
    margin: 0px;
    padding: 0px;
    height: 100px;

    color: aliceblue;
    text-align: center;
    font-size: 40px;
}

section > h1 {
    color: aliceblue;
    text-align: center;
    font-size: larger;
}

section.skills {
    margin-top: -140px;
    white-space: nowrap;
    letter-spacing: 4px;
    position: absolute;
    color: #fff;
}

div.pad-3 {
    padding: 10px;
}

div#language {
    white-space: nowrap;
    display: inline-block;
    margin-right: 10px;
}

div#react {
    border-radius: 15px;
    text-align: center;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    transition: 0.5s ease-out;
    font-size: 20px;
    color: transparent;
    padding-top: 5px;
    background-color: #4762FF;
    display: inline-flex;
    margin-right: 185px;
    align-items: center;
    justify-content: center;
}

div#js {
    border-radius: 15px;
    text-align: center;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    transition: 0.5s ease-out;
    font-size: 20px;
    color: transparent;
    padding-top: 5px;
    background-color: #F5DE22;
    display: inline-flex;
    margin-right: 185px;
    align-items: center;
    justify-content: center;
}

div#ts {
    border-radius: 15px;
    text-align: center;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    transition: 0.5s ease-out;
    font-size: 20px;
    color: transparent;
    padding-top: 5px;
    background-color: #377CC8;
    display: inline-flex;
    margin-right: 185px;
    align-items: center;
    justify-content: center;
}

div#html {
    border-radius: 15px;
    text-align: center;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    transition: 0.5s ease-out;
    font-size: 20px;
    color: transparent;
    padding-top: 5px;
    background-color: #E5532D;
    display: inline-flex;
    margin-right: 185px;
    align-items: center;
    justify-content: center;
}

div#css {
    border-radius: 15px;
    text-align: center;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    transition: 0.5s ease-out;
    font-size: 20px;
    color: transparent;
    padding-top: 5px;
    background-color: #2D53E5;
    display: inline-flex;
    margin-right: 185px;
    align-items: center;
    justify-content: center;
}

div#godot {
    border-radius: 15px;
    text-align: center;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    transition: 0.5s ease-out;
    font-size: 20px;
    color: transparent;
    padding-top: 5px;
    background-color: #4D90C1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

img.react {
    max-width: 100%;
    max-height: 100%;
    width: 85px;
    height: 80px;
}

img.js {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    width: 75px;
    height: 75px;
}

img.ts {
    max-width: 100%;
    max-height: 100%;
    width: 75px;
    height: 75px;
}

img.html {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
}

img.css {
    max-width: 100%;
    max-height: 100%;
    width: 85px;
    height: 85px;
}

img.godot {
    width: 80px;
    height: 80px;
}

main {
    width: 100%;
    height: 500px;
    background-color: aliceblue;
}