@charset "UTF-8";


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* aliceblue */
body {
    background-color: rgb(0, 1, 15);
}

div#linkedin {
    border-radius: 100%;
    text-align: center;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    transition: 0.5s ease-out;
    font-size: 20px;
    color: #000;
    padding-top: 5px;
    background-color: aliceblue;
}

header > h1, p {
    margin: 0px;
    padding: 0px;
    height: 100px;

    color: aliceblue;
    text-align: center;
    font-size: 40px;
}

section > h1 {
    color: aliceblue;
    text-align: center;
    font-size: larger;
}

div.pad-3 {
    padding: 10px;
}

div#language {
    
}